@import './base';

@import './utils/fonts';
@import './utils/variables';

@import './utils/utils';
@import './utils/texts';

@import './components/buttons';
@import './components/links';
@import './components/chef-card';
@import './components/format-card';
@import './components/carousel-button';
@import './components/input';

@import './layouts/section';
@import './layouts/container';
@import './layouts/advantages-section';
@import './layouts/traditions-section';
@import './layouts/chefs-section';
@import './layouts/formats-section';
@import './layouts/contacts-section';
@import './layouts/footer';
@import './layouts/modal';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/form-terms';
